@font-face {
    font-family: "Gloria Hallelujah";
    src: url("/font/GloriaHallelujah-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Piedra";
    src: url("/font/Piedra-Regular.ttf") format("truetype");
}

body {
    background: #00a4c6;
}

h1 {
    font-family: "Gloria Hallelujah", serif;
}

h2 {
    font-family: "Piedra", serif;
}

:root{
    --qteColones : 6;
    --tailleCellule: 70px;
}

plateau {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--tailleCellule) * var(--qteColones) );
    background-color: white;
}

case {
    border: 1px #07658d solid;
    width: 70px;
    height: 70px;
}

.way {
    background-color: lightgray;
}

.obstacle{
    background-image: url(img/arbre.png);
    background-size: contain;
}

.joueur1 {
    background-image: url(img/pion/chapeau_2.png);
    background-size: contain;
}

.joueur2 {
    background-image: url(img/pion/chapeau_3.png);
    background-size: contain;
}

.collierOpale {
    background-image: url(img/arme/collierOpale.png);
    background-size: 30px;
    background-position: center;
    background-repeat:no-repeat;
}

.baguette {
    background-image: url(img/arme/baguette.png);
    background-size: 30px;
    background-position: center;
    background-repeat:no-repeat;
}

.acromantula {
    background-image: url(img/arme/acromantula.jpg);
    background-size: 45px;
    background-position: center;
    background-repeat:no-repeat;
}

.faux {
    background-image: url(img/arme/faux.png);
    background-size: 40px;
    background-position: center;
    background-repeat:no-repeat;
}

.potion {
    background-image: url(img/arme/potion.png);
    background-size: 30px;
    background-position: center;
    background-repeat:no-repeat;
}

.imgWeaponBox {
    max-width: 32px;
    height: auto;
}

.imgWeapon,
.imgPawn {
    max-width: 64px;
    height: auto;
}

.box {
    background-color: #46a7c6;
}

.inTurn {
    background-color: #145566;
}

.input-group {
    width: 40% !important;
}

.button {
    background-color: #07658d;
    width: 150px;
    height: 30px;
    border: 1px #021919 dotted;
}

.button:hover {
    background-color: #46a7c6;
    border: 1px #46a7c6 dotted;
}

.button:focus {
    background-color: #7c98aa;
    border: 1px #7c98aa dotted;
}

.modal-header,
.modal-footer {
    border-bottom: none !important;
    border-top: none !important;
}
